#poem {
  font-family: Times New Roman (serif);
  font-size: 1.25rem;
  width: auto;
  margin: auto;
  background-color: rgb(0, 0, 0);
  color: rgb(0, 255, 68);
}

#answer {
  width: 15rem;
  height:2rem;
  border: 1px dashed black;
}

.found {
  color: red;
  background-color: red;
}
