#secret-document {
/* text properties */
  font-family: monospace;
  font-size: 1.25rem;
  width: auto;
  margin: auto;
  background-color: rgb(0, 0, 0);
  color: rgb(0, 255, 68);
}

.redacted {
/* properties of the hidden text */
  background-color: rgb(0, 255, 68);
  user-select: none;
}

.revealed {
/* properties of the revealed text */
  color: red;
  text-decoration: underline;
}
